<configuration>
	<connectionStrings>
		<add name="KYS"
			 
			 connectionString="Data Source=HUSEYIN;Initial Catalog=KYS;Integrated Security=True;TrustServerCertificate=True;"
			 
			 providerName="System.Data.SqlClient" />
		
	</connectionStrings>
</configuration>


<!-- name alanı  ApplicationDBContext de çekerken kullanacağınız stringdir.-->

<!-- ConnectionString alanı
		Data Source=<bilgisayarın adı>  (SQL Server management studio daki Bilgisayar adı.)
		Initial Catalog= DataBaseAdı    (Burayı isterseniz değiştirin)
		-->