<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		
		<add name="HUSEYIN"
			 connectionString="Data Source=HUSEYIN;Initial Catalog=KYS;Integrated Security=True;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />

		<add name="ESMA"
			connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=KYS;Integrated Security=True;"
		 providerName="System.Data.SqlClient" />
		
		<add name="OZLEM"
			 connectionString="Data Source =DESKTOP-TVV31GM\SQLEXPRESS; Initial Catalog=KYS; Integrated Security=true; TrustServerCertificate=true"
			 providerName="System.Data.SqlClient" />

		<add name="EDA"		 
			connectionString="Data Source=DESKTOP-6QPM4JJ\MSSQLSERVER01;Initial Catalog=KYS;Integrated Security=True; TrustServerCertificate=True;"
			providerName="System.Data.SqlClient" />
		
	</connectionStrings>
</configuration>
